body{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
}
header .nav ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding-right: 40px;
    padding-top: 10px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(41, 18, 41);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700px;
}
header .nav ul li a:hover{
    color: #7f98ff;
}
h1{
    font-size: 50px;
}
.color{
    color: darkmagenta;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
    .half-with{
        width: 50%;
        padding: 5%;
    }
    .half-with img{
        width: 90%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,tomato );
        padding: 10px 40px;
        color: white;
        font-weight: 700;
        border-radius: 5px;
    }
    .top-banner{
        background-image: url(images/Frosted\ Orange\ Music\ Brand\ Guidelines\ Presentation.png);
        background-repeat: no-repeat;
    }
 .dream-big{
     background-image:url(images/dream.png);
     background-repeat: no-repeat;
 }
 .Experience-area{

 }
 .experience-item{
     width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
  box-shadow: 10px 10px 50px grey;  
  border-left: 10px solid; 
}
#web-dev-Experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}